<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .register-container {
      width: 100%;
      max-width: 400px;
      padding: 2rem;
    }
  </style>
</head>

<body>

  <div class="register-container">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Register</h2>

        <form action="/register" method="post">
          <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="Email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="Password" required>
          </div>

          <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input name="confirmPassword" type="password" class="form-control" id="ConfirmPassword" required>
          </div>

          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <% errMsg.forEach(el=> { %>
    <span class="badge text-bg-danger">
      <%= el %>
    </span>
    <% }) %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>